node_modules
dist
.astro
.env
.env.production
.env.local
.env.*.local
.shiopa/
.DS_Store
*.log
.vercel
*.tgz

src/shade/**
!src/shade/catalog/
src/shade/catalog/**
!src/shade/catalog/itsuki.rink
!src/shade/catalog/rei.rink
!src/shade/catalog/yume.rink
!src/shade/catalog/shiopa.rink
!src/shade/catalog/tsuki.rink

src/shade/private/**
!src/shade/private/.gitkeep

src/lib/providers/**
!src/lib/providers/registry.ts
!src/lib/providers/rei.ts
!src/lib/providers/shiopa.ts
!src/lib/providers/yume.ts
!src/lib/providers/utils.ts
!src/lib/providers/sources.ts
!src/lib/providers/new-sources.ts
